{% extends 'base.html' %}
{% load static %}


{% block title %}Enter New Password{% endblock %}

{% block content %}
<div class="form-container">
    {% if validlink %}
        <h2>Set a New Password</h2>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }} {# Render the form fields using crispy forms #}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Set Password</button>
            </div>
        </form>
    {% else %}
        <h2>Password Reset Failed</h2>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        <p><a href="{% url 'password_reset' %}" class="btn mt-3">Request New Password Reset</a></p>
    {% endif %}
</div>
{% endblock %}