{% extends 'base.html' %}
{% load static %}


{% block title %}Password Reset{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Reset Your Password</h2>
    <p>Enter your email address below, and we'll send you instructions to set a new password.</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }} {# Render the form fields using crispy forms #}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Send Reset Email</button>
        </div>
    </form>
</div>
{% endblock %}